  /*
  Couples Resort Responsive Build
  4 column grid as per XD file
  */

  /*
      CSS Guide

      1.  General Styles
      2.  Main Nav
      3.  Main Hero Image
      4.  Main Hero Image Contact
      5.  Why Couples Resort
      6.  About & FAQ
      7.  Contact Form
      8.  Footer
  */

  /* 1. ---General Styles--- */

  #mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
  }

  body {
    color: #626262;
    font-family: "Sanchez", "Times New Roman", serif;
  }

  a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  input,
  textarea {
    display: block;
    margin: 0;
    padding: 0;
  }

  /* 2. ---Main Nav--- */

  #main-nav button {
    width: 20px;
    height: 20px;
    background: url(../images/burger.svg) no-repeat center;
    margin-top: 15px;
    transition: all 0.5s ease;
    margin-bottom: 20px;
    border: 0;
  }

  #main-nav button.expanded {
    transform: rotate(90deg);
  }

  #burger-con {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
  }

  #burger-con.slide-toggle {
    display: block;
  }

  #main-nav ul li a:hover {
    color: #9a2018;
  }

  #main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
  }

  #main-nav ul li {
    border-bottom: 1px solid #efefef;
  }

  #main-nav ul li:first-child {
    border-top: 1px solid #efefef;
  }

  #main-nav ul li:last-child {
    margin-bottom: 10px;
  }

  #logo {
    margin-bottom: 20px;
    max-width: 280px;
  }


  /* 3. ---Main Hero Image--- */

  /*Video*/

  #player-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .video-controls.hidden {
    display: none;
  }
  .video-controls {
    background-color: liner-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5)
    );
    position: absolute;
    right: 0;
    left: 0;
    padding: 20px;
    bottom: 0;
    display: flex;
  }

  button {
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .fa {
    color: #fff;
    font-size: 2vw;
    margin-left: 28px;
  }

  .fa-volume-up {
    margin-left: auto;
  }
  /*********** Baseline, reset styles ***********/
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 13rem;
  }

  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }

  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #808080;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
  }

  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #ffffff;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #808080;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }

  input[type="range"]:focus::-moz-range-thumb {
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
  }

  /* 4. ---Main Hero Image Contact--- */


  /* 8. ---Footer--- */

  
  /* ---Tablet Library Grid Styles--- */
  @media screen and (min-width: 768px) {
    #sticky-nav-con {
      position: sticky;
      top: 0px;
      background-color: #fff;
      border-bottom: solid 1px #c3c3c3;
      z-index: 1;
    }

    #main-nav {
      margin-top: 4%;
      margin-bottom: 4%;
      border-left: 2px solid #707070;
      padding-left: 30px;
    }

    #main-nav ul li a {
      display: inline;
    }

    #button {
      display: none;
    }

    #burger-con {
      display: block;
      font-size: 12px;
    }

    #burger-con ul li,
    #burger-con ul li:first-child {
      border: none;
      display: inline;
    }

    #burger-con ul li {
      margin-right: 10px;
    }

    #burger-con ul li:last-child {
      margin-right: 0px;
    }

    #logo {
      margin-top: 32px;
      order: -1;
    }
    /* hero-main */

    }

  /* ---Desktop Library Grid Styles--- */
  @media screen and (min-width: 1200px) {
    #main-header {
      height: 110px;
      background: rgba(0, 0, 0, .9);
    }

    #main-nav ul li a {
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: 25px;
      color: #fff;
    }

    #burger-con {
      font-size: 16px;
      margin-top: 28px;
      display: flex;
      justify-content:end;
    }

    #burger-con ul li {
      margin-right: 25px;
    }

    .book-now {
      font-size: 18px;
    }

  }
