/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/*
    CSS Guide

    1.  General Styles
    2.  Main Nav
    3.  Main Hero
    4.  Industrial Night Details
    5.  Fanshawe Industrial Video
    6.  Winning Projects
    7.  Testimonials
    8.  Program introduction
    9.  Portfolios
    10. Footer
    11. Mobile Library Grid Style
    12. Tablet Library Grid Styles
    13. Desktop Library Grid Styles
 */

/* 1. ---General Styles--- */
body {
  color: #626262;
  font-family: "Sanchez", "Times New Roman", serif;
}

h2 {
  color:#c9261a;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

input,
textarea {
  display: block;
  margin: 0;
  padding: 0;
}

/* 2. ---Main Nav--- */

#sticky-nav-con {
  position: sticky;
  top: 0px;
  /* border-bottom: solid 1px #c3c3c3; */
  z-index: 1;
  background-color: rgb(18, 18, 18);

}

#logo {
  position: relative;
  top: -10px;
}

#main-nav button {
  width: 20px;
  height: 20px;
  background: url(../images/burger.svg) no-repeat center;
  margin-top: 15px;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  border: 0;
}

#main-nav button.expanded {
  transform: rotate(90deg);
}

#burger-con {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
}

#burger-con.slide-toggle {
  display: block;
}

#main-nav ul li a:hover {
  color:#c9261a;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav ul li a {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #efefef;
}

#main-nav ul li {
  border-bottom: 1px solid #efefef;
  
}

#main-nav ul li:first-child {
  border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
  margin-bottom: 10px;
}

#logo {
  margin-bottom: 20px;
  max-width: 280px;
}

/* 3. ---Main hero--- */
#poster {
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Ensures the image covers the container */
  height: 600px; /* Default height for larger screens */
  object-fit: cover;
}

/* 4. ---Industrial Details--- */
#industrial-night {
  margin-top: 45px;
}

#industrial-night-left h2 {
  margin-bottom: 15px;
}

#industrial-night-left p {
  margin-bottom: 5px;
}

#explaination {
  margin-top: 30px;
}

/* 5. ---Fanshawe Industrial Video--- */
:root {
  /* psuedo class */
  --plyr-color-main: #c9261a;;
  --plyr-control-icon-size: 20px;
  --plyr-control-radius: 20px;
  --plyr-font-family: Helvetica, Arial, sans-serif;
  --plyr-control-spacing: 15px;
}


/* 6. ---Winning Projects--- */
#winning-projects-img h2 {
  margin-bottom: 45px;
  margin-top: 45px;
}

#winning-projects-img img {
  margin-bottom: 35px;
}

#winning-projects-img img,
#winning-projects-img-2 img {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* 7. ---Testimonials--- */
#testimonial {
  background-color:#efefef;
  display: block;
  margin-top: 55px;
  padding-bottom: 55px;
}

#testimonial-h2 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

#testimonial-box {
  display: grid;
}

#testimonial-con1,
#testimonial-con2,
#testimonial-con3 {
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 30px;
}

#testimonial-con1 h3,
#testimonial-con2 h3,
#testimonial-con3 h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* 8. ---Program Introduction--- */
#program-introduction-mid button {
  background-color: #c9261a;
  color: #fff;
  border-radius: 20px;
  border: none;
  width: 95px;
  height: 35px;
  margin-top: 15px;
}

#program-introduction-mid button:hover {
  background-color: #a81e15;
  transform: translateY(-2px); 
}

/* 9. ---Portfolios--- */
#portfolio-con {
  background-color:#efefef;
}

#portfolio-con #portfolio img {
  border-radius: 15px;
}

#portfolio {
  text-align: center;
}

#portfolio-h2 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

#portfolio-box1,
#portfolio-box2,
#portfolio-box3,
#portfolio-box4,
#portfolio-box5,
#portfolio-box6,
#portfolio-box7,
#portfolio-box8,
#portfolio-box9,
#portfolio-box10 {
  background-color: #fff;
  border-radius: 15px;
  object-fit: fill;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}

#button-load {
  text-align: center;
  padding-bottom: 40px;
  
}

#button-load button {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #c0c0c0;
  
}
/* 10. ---footer--- */
#footer-hero {
  top: 0;
  background-color: #c9261a;
  color: #fff;
}

#footer-logo-info2 {
  text-align: right;
}

/* #footer-logo-info2 p {
  position: relative;
  top: 35%;
  line-height: 20px;
} */

/* ---Mobile Library Grid Style--- */
@media screen and (min-width: 480px) {

  #logo {
    position: relative;
    top: 10px;
  }

  #poster {
    height: 200px; /* Further reduce height for very small screens */
  }

  #testimonial-con1,
  #testimonial-con2,
  #testimonial-con3 {
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
}

#winning-projects-img {
  text-align: center;
}

#winning-projects-img-2 img {
  margin-bottom: 20px;
}

#industrial-night-left {
  margin-bottom: 20px;
}


#program-introduction-con {
  margin: 45px 0;
}

#program-introduction-img2 {
  display: none;
}

#program-introduction-img3 {
  display: none;
}

#program-introduction-mid {
  margin: 60px 10px;
  text-align: center;
  padding: 0 30px;
}

#program-introduction-mid h2 {
  margin-bottom: 20px;
}

#program-introduction-mid p {
  margin-bottom: 15px;
  font-size: 15px;
}

#program-introduction-mid button {
  background-color: #c9261a;
  color: #fff;
  border-radius: 20px;
  border: none;
  width: 95px;
  height: 35px;
  margin-top: 15px;
}

#program-introduction-mid button:hover {
  background-color: #a81e15;
  transform: translateY(-2px); 
}

#portfolio-box1,
#portfolio-box2,
#portfolio-box3,
#portfolio-box4,
#portfolio-box5,
#portfolio-box6,
#portfolio-box7,
#portfolio-box8,
#portfolio-box9,
#portfolio-box10 {
  margin-bottom: 40px;
}

#footer-logo-info2 p {
  font-size: 10px;
  position: relative;
  top: 30%;
}

}

/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {

  #main-header {
    height: 90px;  
  }


  #main-nav {
    margin-top: 3%;
    margin-bottom: 4%;
    padding-left: 30px;
  }

  #logo {
    position: relative;
    top: -15px;
  }
  
  #main-nav ul li a {
    display: inline;
  }

  #button {
    display: none;
  }

  #burger-con {
    display: block;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
  }

  #burger-con ul li,
  #burger-con ul li:first-child {
    border: none;
    display: inline;
  }

  #burger-con ul li {
    margin-right: 30px;
    font-size: 19px;
  }

  #burger-con ul li:last-child {
    margin-right: px;
  }

  #logo {
    margin-top: 39px;
    order: -1;
  }

  #industrial-night-left {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  #video {
    padding-right: 40px;
  }

  #program-introduction-con {
    margin: 45px 0;
  }

  #program-introduction-img2 {
    display: none;
  }

  #program-introduction-img3 {
    display: none;
  }

  #program-introduction-mid {
    margin: 60px 10px;
    text-align: center;
  }

  #program-introduction-mid h2 {
    margin-bottom: 20px;
  }
  
  #program-introduction-mid p {
    margin-bottom: 15px;
    font-size: 17px;
  }

  #program-introduction-mid button {
    background-color: #c9261a;
    color: #fff;
    border-radius: 20px;
    border: none;
    width: 95px;
    height: 35px;
    margin-top: 15px;
  }


  #poster {
    height: 450px; /* Adjust height for tablets or medium screens */
  }

  #footer-logo-info2 p {
    font-size: 12px;
  }
}
  /* hero-main */


/* ---Desktop Library Grid Styles--- */
@media screen and (min-width: 1200px) {
  #main-header {
    height: 110px;  
  }

  #main-nav {
    margin-top: 1.5%;
    margin-bottom: 2%;
    margin-left: 25px;
  }

  #logo {
    position: relative;
    top: -15px;
  }

  #burger-con {
    font-size: 16px;
    margin-top: 28px;
  }

  #burger-con ul li {
    margin-right: 65px;
    font-size: 22px;
  }

  #burger-con ul li:last-child {
    margin-right: 10px;
  }

  #industrial-night-left {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  #video {
    padding-right: 40px;
  }
  
  #industrial-night-left h2 {
    margin-bottom: 15px;
  }

  #industrial-night-left p {
    margin-bottom: 5px;
    font-size: 18px;
  }

  #explaination {
    margin-top: 30px;
  }

  #program-introduction-con {
    padding-bottom: 410px;
  }

  #program-introduction {
    display: block;
  }

  #program-introduction-img1 {
    position: absolute;
    left: 45%;
  } 
  
  #program-introduction-img2 {
    display: block;
    position: relative;
    top: 400px;
  }
  
  #program-introduction-img3 {
    display: block;
    position: absolute;
    left: 75%;
  }

  #program-introduction-img4 {
    display: block;
    position: absolute;
    left: 200px;
    top: 3250px;
  }
  

  #program-introduction-mid {
    margin: 0 400px;
    text-align: center;
    padding: 0 90px;
  }
  
  #program-introduction-mid h2 {
    margin-bottom: 30px;
  }
  
  #program-introduction-mid p {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 25px;;
  }
  
  #program-introduction-mid button {
    background-color: #c9261a;
    color: #fff;
    border-radius: 20px;
    border: none;
    width: 95px;
    height: 35px;
    margin-top: 15px;
  }
  
  #program-introduction-mid button:hover {
    background-color: #a81e15;
    transform: translateY(-2px); 
  }

  #footer-logo-info2 p {
      font-size: 16px;
      line-height: 25px;
  }
}
