/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/*
    CSS Guide

    1.  General Styles
    2.  Main Nav
    3.  Main Hero
    4.  Industrial Night Details
    5.  Fanshawe Industrial Video
    4.  Winning Projects
    7.  Testimonials
    8.  Program introduction
    9.  Portfolios
    10. Footer
    11. Mobile Library Grid Style
    12. Tablet Library Grid Styles
    13. Desktop Library Grid Styles
 */

/* 1. ---General Styles--- */
body {
  color: #626262;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}

h2 {
  color: #c9261a;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

input,
textarea {
  display: block;
  margin: 0;
  padding: 0;
}

/* 2. ---Main Nav--- */
#sticky-nav-con {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: rgb(18, 18, 18);
}

#logo {
  position: relative;
  top: -10px;
}

#main-nav button {
  width: 20px;
  height: 20px;
  background: url(../images/burger.svg) no-repeat center;
  margin-top: 15px;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  margin-top: 22px;
  margin-left: 30px;
  border: 0;
}

#main-nav button.expanded {
  transform: rotate(90deg);
}

/* Lightbox */
#burger-con {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: none; /* Hidden by default */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Styling for the UL inside the lightbox */
#burger-con ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  list-style: none;
  padding: 0;
  margin-left: 10%;
}

#burger-con ul li {
  margin: 20px 0;
}

#burger-con ul li a {
  color: white;
  font-size: 24px;
  text-decoration: none;
}

#close-btn {
  position: absolute;
  transform: rotate(90deg);
  top: 0px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  cursor: pointer;
}
/* Show lightbox when toggled */
#burger-con.show {
  display: flex;
}

#burger-con.show ul {
  display: flex; /* Make sure UL is flex or block when lightbox is active */
  flex-direction: column;
  align-items: center;
}

#main-nav ul li a:hover {
  color: #c9261a;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  position: relative;
  margin-top: -35px;
  /* 이걸로 위아래 위치 조정 */
}

#main-nav ul li a {
  display: block;
  margin-right: 10px;
  font-size: 25px;
  text-align: center;
  color: #efefef;
}

#logo {
  margin-bottom: 20px;
  max-width: 280px;
}

/* 3. ---Main hero--- */
#poster {
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Ensures the image covers the container */
  height: 600px; /* Default height for larger screens */
  object-fit: cover;
}

/* 4. ---Industrial Details--- */
#industrial-night {
  margin-top: 45px;
}

#industrial-night-left h2 {
  margin-bottom: 15px;
}

#industrial-night-left p {
  margin-bottom: 5px;
}

#explaination {
  margin-top: 30px;
}

/* 5. ---Fanshawe Industrial Video--- */
:root {
  /* psuedo class */
  --plyr-color-main: #c9261a;
  --plyr-control-icon-size: 20px;
  --plyr-control-radius: 20px;
  --plyr-font-family: "Montserrat", Arial, Helvetica, sans-serif;
  --plyr-control-spacing: 15px;
}

/* 4. ---Winning Projects--- */
#winning-projects-img h2 {
  margin-bottom: 45px;
  margin-top: 45px;
}

#winning-projects-img img {
  margin-bottom: 35px;
  margin-left: 25px;
}

#winning-projects-img-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#winning-projects-img img,
#winning-projects-img-2 img {
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}

#winning-projects-img-2 a {
  width: relative;
}

/* 7. ---Testimonials--- */
#testimonial {
  background-color: #efefef;
  display: block;
  margin-top: 55px;
  padding-bottom: 55px;
}

#testimonial-h2 {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 45px;
}

#testimonial-box {
  display: grid;
}

#testimonial-con1,
#testimonial-con2,
#testimonial-con3 {
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 30px;
}

#testimonial-con1 h3,
#testimonial-con2 h3,
#testimonial-con3 h3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* 8. ---Program Introduction--- */
#program-introduction-mid button {
  background-color: #c9261a;
  color: #fff;
  border-radius: 20px;
  border: none;
  width: 95px;
  height: 35px;
  margin-top: 15px;
}

#program-introduction-mid button:hover {
  background-color: #a81e15;
  transform: translateY(-2px);
}

/* 9. ---Portfolios--- */
#button-load {
  text-align: center;
  padding-bottom: 40px;
}

#button-load button {
  width: 120px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #c0c0c0;
}
/* 10. ---footer--- */
#footer-hero {
  top: 0;
  background-color: #c9261a;
  color: #fff;
}

#footer-logo-info2 {
  text-align: right;
}
/* 10. ---footer--- */
#footer-hero {
  top: 0;
  background-color: #c9261a;
  color: #fff;
}

#footer-logo-info2 {
  text-align: right;
}

/* #footer-logo-info2 p {
  position: relative;
  top: 35%;
  line-height: 20px;
} */

/* ---Mobile Library Grid Style--- */
@media screen and (min-width: 480px) {
  #logo {
    position: relative;
    top: 10px;
  }

  #button {
    display: block; /* Show hamburger button */
  }

  #burger-con {
    top: 0px;
    display: none; /* Hidden by default */
  }

  #burger-con ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #burger-con ul li {
    margin: 20px 0;
  }

  #burger-con.show {
    display: flex; /* Display the lightbox when active */
  }

  /* Hide the regular nav menu outside the lightbox on mobile */
  #main-nav ul {
    display: none;
  }

  #poster {
    height: 200px; /* Further reduce height for very small screens */
  }

  #testimonial-con1,
  #testimonial-con2,
  #testimonial-con3 {
    background-color: #fff;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
  }

  #winning-projects-img {
    text-align: center;
  }

  #winning-projects-img-2 img {
    margin-bottom: 20px;
  }

  #industrial-night-left {
    margin-bottom: 20px;
  }

  #program-introduction-con {
    margin: 45px 0;
  }

  #program-introduction-img2 {
    display: none;
  }

  #program-introduction-img3 {
    display: none;
  }

  #program-introduction-mid {
    margin: 60px 10px;
    text-align: center;
    padding: 0 30px;
  }

  #program-introduction-mid h2 {
    margin-bottom: 20px;
  }

  #program-introduction-mid p {
    margin-bottom: 15px;
    font-size: 15px;
  }

  #program-introduction-mid button {
    background-color: #c9261a;
    color: #fff;
    border-radius: 20px;
    border: none;
    width: 95px;
    height: 35px;
    margin-top: 15px;
  }

  #program-introduction-mid button:hover {
    background-color: #a81e15;
    transform: translateY(-2px);
  }

  /* portfolio */
  #portfolio-con {
    text-align: center;
    background-color: #efefef;
  }

  #portfolio-h2 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  #portfolio-box1,
  #portfolio-box2,
  #portfolio-box3,
  #portfolio-box4,
  #portfolio-box5,
  #portfolio-box6,
  #portfolio-box7,
  #portfolio-box8,
  #portfolio-box9,
  #portfolio-box10 {
    padding: 0;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
  }
  
  #portfolio-box1 img,
  #portfolio-box2 img,
  #portfolio-box3 img,
  #portfolio-box4 img,
  #portfolio-box5 img,
  #portfolio-box6 img,
  #portfolio-box7 img,
  #portfolio-box8 img,
  #portfolio-box9 img,
  #portfolio-box10 img {
    object-fit: cover;
    width: 100%;
  }

  
  #portfolio-first-row,
  #portfolio-second-row,
  #portfolio-third-row {
    display: grid;
  }

  #portfolio-box1 p,
  #portfolio-box3 p,
  #portfolio-box4 p,
  #portfolio-box6 p,
  #portfolio-box7 p,
  #portfolio-box8 p,
  #portfolio-box9 p,
  #portfolio-box10 p {
    text-align: center;
    padding: 30px 0;
    color:#c9261a;
    font-weight: 600;
  }
  
  #portfolio-box2 p,
  #portfolio-box5 p {
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
    color:#c9261a;
    font-weight: 600;
  }

  #portfolio-box1,
  #portfolio-box2,
  #portfolio-box3,
  #portfolio-box4,
  #portfolio-box5,
  #portfolio-box6,
  #portfolio-box7,
  #portfolio-box8,
  #portfolio-box9,
  #portfolio-box10 {
    background-color: #fff;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  /* footer */
  #footer-logo-info2 p {
    font-size: 10px;
    position: relative;
    top: 30%;
  }
}

/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {
  #main-header {
    height: 90px;
  }

  #main-nav {
    margin-top: 8%;
    /* margin-bottom: 4%; */
    margin-left: 100px;
  }

  #logo {
    position: relative;
    top: -15px;
  }

  
  #main-nav ul li a {
    display: block;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
    color: #efefef;
  }
  

  #button {
    display: none;
  }

  #burger-con {
    display: flex; /* Display regular menu on larger screens */
    background-color: transparent; /* No lightbox for larger screens */
    position: relative;
    width: auto;
    height: auto;
  }

  #close-btn {
    display: none;
  }

  #burger-con ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  #burger-con ul li,
  #burger-con ul li:first-child {
    border: none;
    display: inline;
  }

  #burger-con ul li {
    /* margin-right: 30px; */
    font-size: 19px;
  }

  #logo {
    margin-top: 39px;
    order: -1;
  }

  #industrial-night-left {
    padding-left: 40px;
    padding-right: 40px;
  }

  #video {
    padding-right: 40px;
  }

  #showimg {
    width: 90%;
  }

  #winning-projects-img-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
  }
  #winning-team {
    flex: 2;
  }
  #program-introduction-con {
    margin: 45px 0;
  }

  #program-introduction-img2 {
    display: none;
  }

  #program-introduction-img3 {
    display: none;
  }

  #program-introduction-mid {
    margin: 60px 10px;
    text-align: center;
  }

  #program-introduction-mid h2 {
    margin-bottom: 20px;
  }

  #program-introduction-mid p {
    margin-bottom: 15px;
    font-size: 17px;
  }

  #program-introduction-mid button {
    background-color: #c9261a;
    color: #fff;
    border-radius: 20px;
    border: none;
    width: 95px;
    height: 35px;
    margin-top: 15px;
  }

  #poster {
    height: 450px; /* Adjust height for tablets or medium screens */
  }

  /* portfolio */
  #portfolio-con {
    background-color: #efefef;
  }
  
  #portfolio-first-row,
  #portfolio-second-row,
  #portfolio-third-row {
    display: flex;
    justify-content: center;
    gap: 0.1%;
  }
  
  #portfolio-box2 {
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #portfolio-box5 {
    height: 340px;
    background-color: #fff;
    margin-top: -9%;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #portfolio-box8 {
    height: 340px;
    background-color: #fff;
    margin-top: -63%;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #portfolio-box10 {
    background-color: #fff;
    margin-top: -4%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* box9-box10-container */
  #box9-box10-container {
    display: flex;
    flex-direction: column;
  }
  
  #portfolio-con #portfolio img {
    border-radius: 15px;
  }
  
  #portfolio-h2 {
    text-align: center;
    padding-top: 45px;
  }
  
  #portfolio-box1,
  #portfolio-box3,
  #portfolio-box4,
  #portfolio-box5,
  #portfolio-box6,
  #portfolio-box8,
  #portfolio-box9 {
    background-color: #fff;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #portfolio-box7,
  #portfolio-box9 {
    object-fit: cover;
    height: 430px;
    background-color: #fff;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #portfolio-box10 img {
    object-fit: cover;
  }
  
  #portfolio-box1 p,
  #portfolio-box3 p,
  #portfolio-box4 p,
  #portfolio-box6 p,
  #portfolio-box7 p,
  #portfolio-box8 p,
  #portfolio-box9 p,
  #portfolio-box10 p {
    text-align: center;
    padding: 30px 0;
    color:#c9261a;
    font-weight: 600;
  }
  
  #portfolio-box2 p,
  #portfolio-box5 p {
    text-align: center;
    padding-top: 8%;
    color:#c9261a;
    font-weight: 600;
  }


  #footer-logo-info2 p {
    font-size: 12px;
  }
}
/* hero-main */

/* ---Desktop Library Grid Styles--- */
@media screen and (min-width: 1200px) {
  #main-header {
    height: 110px;
  }

  #main-nav {
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 400px;
  }

  #main-nav ul li a {
    display: block;
    margin-right: 10px;
    font-size: 24px;
    text-align: center;
    color: #efefef;
  }
  

  #logo {
    position: relative;
    top: -15px;
  }

  #close-btn {
    display: none; /* No close button on larger screens */
  }

  #burger-con {
    display: flex;
    background-color: transparent;
    position: relative;
    width: auto;
    height: auto;
    font-size: 16px;
    margin-top: 28px;
  }

  #burger-con ul {
    display: flex;
    justify-content: flex-end;
  }

  #burger-con ul li {
    margin-right: 65px;
    font-size: 22px;
  }

  #burger-con ul li:last-child {
    margin-right: 10px;
  }

  #industrial-night-left {
    padding-left: 40px;
    padding-right: 40px;
  }

  #video {
    padding-right: 40px;
  }

  #industrial-night-left h2 {
    margin-bottom: 15px;
  }

  #industrial-night-left p {
    margin-bottom: 5px;
    font-size: 18px;
  }

  #explaination {
    margin-top: 30px;
  }

  #program-introduction-con {
    padding-bottom: 410px;
  }

  #program-introduction {
    display: block;
  }

  #program-introduction-img1 {
    position: absolute;
    left: 45%;
  }

  #program-introduction-img2 {
    display: block;
    position: relative;
    top: 400px;
  }

  #program-introduction-img3 {
    display: block;
    position: absolute;
    left: 75%;
  }

  #program-introduction-img4 {
    display: block;
    position: absolute;
    left: 200px;
    top: 3250px;
  }

  #program-introduction-mid {
    margin: 0 400px;
    text-align: center;
    padding: 0 90px;
  }

  #program-introduction-mid h2 {
    margin-bottom: 30px;
  }

  #program-introduction-mid p {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 25px;
  }

  #program-introduction-mid button {
    background-color: #c9261a;
    color: #fff;
    border-radius: 20px;
    border: none;
    width: 95px;
    height: 35px;
    margin-top: 15px;
  }

  #program-introduction-mid button:hover {
    background-color: #a81e15;
    transform: translateY(-2px);
  }

  /* portfolio */
  #portfolio-con {
    background-color: #efefef;
  }
  
  #portfolio-first-row,
  #portfolio-second-row,
  #portfolio-third-row {
    display: flex;
    justify-content: center;
    gap: 2%;
  }
  
  #portfolio-box2 {
    height: 415px;
    background-color: #fff;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #portfolio-box5 {
    height: 475px;
    background-color: #fff;
    margin-top: -6%;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #portfolio-box8 {
    height: 475px;
    background-color: #fff;
    margin-top: -53%;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #portfolio-box10 {
    background-color: #fff;
    margin-top: -4%;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* box9-box10-container */
  #box9-box10-container {
    display: flex;
    flex-direction: column;
  }
  
  #portfolio-con #portfolio img {
    border-radius: 15px;
  }
  
  #portfolio-h2 {
    text-align: center;
    padding-top: 45px;
  }
  
  #portfolio-box1,
  #portfolio-box3,
  #portfolio-box4,
  #portfolio-box5,
  #portfolio-box6,
  #portfolio-box8,
  #portfolio-box9 {
    background-color: #fff;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #portfolio-box7,
  #portfolio-box9 {
    object-fit: cover;
    height: 590px;
    background-color: #fff;
    border-radius: 15px;
    object-fit: fill;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  #portfolio-box10 img {
    object-fit: cover;
  }
  
  #portfolio-box1 p,
  #portfolio-box3 p,
  #portfolio-box4 p,
  #portfolio-box6 p,
  #portfolio-box7 p,
  #portfolio-box8 p,
  #portfolio-box9 p,
  #portfolio-box10 p {
    text-align: center;
    padding: 30px 0;
    color:#c9261a;
    font-weight: 600;
  }
  
  #portfolio-box2 p,
  #portfolio-box5 p {
    text-align: center;
    padding-top: 7%;
    color:#c9261a;
    font-weight: 600;
  }

  #footer-logo-info2 p {
    font-size: 16px;
    line-height: 25px;
  }
}
